<header>
  <div class="flex justify-between my-8">
    <img
      src="assets/images/profile.jpg"
      alt="Foto de perfil de Jose Romero"
      class="w-28 h-28 rounded-full cursor-pointer"
      [routerLink]="''"
    />
    <div>
      <app-toggle-lang></app-toggle-lang>
      <app-toggle-theme></app-toggle-theme>
    </div>
  </div>

  <p class="title-style text-4xl mb-8 cursor-pointer">
    Hey, I’m Jose Romero. <br />
    I'm a front-end developer & <br />
    creator based in Barcelona, ES.
  </p>

  <p class="text-style text-base mb-8">
    Right now, I’ve just launched this minimal portfolio template you're viewing. I'm also working
    on my own projects, sharing my thoughts on my blog and I document my whole journey.
  </p>

  <a class="link-item text-sm font-medium mb-8" [routerLink]="'contact'">Get in touch →</a>
</header>
