<header>
  <div class="flex justify-between mt-8">
    <div class="flex items-center">
      <img
        alt=""
        src="assets/images/profile.jpg"
        class="w-36 h-36 rounded-full cursor-pointer"
        [routerLink]="''"
      />
    </div>
    <div class="flex flex-col items-end justify-between">
      <div>
        <app-toggle-lang></app-toggle-lang>
        <app-toggle-theme></app-toggle-theme>
      </div>
      <p-button
        label="{{ 'CONTACT.DOWNLOAD_CV' | translate }}"
        icon="pi pi-download"
        iconPos="right"
        size="small"
      />
    </div>
  </div>

  @if (isHome$ | async) {
    <p class="title-style text-4xl my-8 cursor-pointer">
      {{ 'HEADER.TITLE' | translate }}
    </p>
    <p class="text-style text-base mb-8">
      {{ 'HEADER.DESCRIPTION' | translate }}
    </p>

    <p class="link-item font-medium mb-8" [routerLink]="'contact'">
      {{ 'HEADER.CONTACT' | translate }}
    </p>
  }
</header>
