<section class="py-8">
  <div class="flex justify-between items-center py-4r">
    <h2 class="title-style text-4xl">{{ 'CONTACT.TITLE' | translate }}</h2>
  </div>

  <div class="contacts-container">
    <article class="contact-container">
      <p class="text-style">- Email</p>
      <p class="text-style link-item active text-sm">{{ email }}</p>
    </article>

    <article class="contact-container">
      <p class="text-style">- LinkedIn</p>
      <p class="text-style link-item active text-sm">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="text-style">- GitHub</p>
      <p class="text-style link-item active text-sm">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="text-style">- Instagram</p>
      <p class="text-style link-item active text-sm">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="text-style">- Twiter</p>
      <p class="text-style link-item active text-sm">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="text-style">- Strava</p>
      <p class="text-style link-item active text-sm">{{ user }}</p>
    </article>
  </div>
</section>
