<section class="contacts-section">
  <div class="section-header">
    <h2 class="section-title">Contact</h2>
  </div>

  <div class="contacts-container">
    <article class="contact-container">
      <p class="contact-title">- Email</p>
      <p class="contact-link">{{ email }}</p>
    </article>

    <article class="contact-container">
      <p class="contact-title">- LinkedIn</p>
      <p class="contact-link">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="contact-title">- GitHub</p>
      <p class="contact-link">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="contact-title">- Instagram</p>
      <p class="contact-link">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="contact-title">- Twiter</p>
      <p class="contact-link">{{ user }}</p>
    </article>

    <article class="contact-container">
      <p class="contact-title">- Strava</p>
      <p class="contact-link">{{ user }}</p>
    </article>
  </div>
</section>
