.contacts-container {
  display: grid;
  gap: 1rem 2rem;
  width: 100%;
  padding: 1rem 0;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .contact-container {
    border-radius: 1rem;
    cursor: pointer;
    display: grid;
    position: relative;
    text-decoration: none;
    width: 100%;
    opacity: 1;
    transform: none;
    grid-template-columns: 1fr 1fr;
  }
}
