<section class="py-8">
  <div class="flex justify-between items-center py-4">
    <h2 class="title-style text-4xl">{{ 'CONTACT.TITLE' | translate }}</h2>
  </div>
  <p class="text-style text-base my-4">
    {{ 'HEADER.DESCRIPTION_CONTACT' | translate }}
  </p>

  <div class="contacts-container">
    <article class="contact-container">
      <p class="text-style">Email</p>
      <a class="text-style link-item" href="mailto:romezvz@gmail.com" target="_blank">{{
        email
      }}</a>
    </article>

    <article class="contact-container">
      <p class="text-style">LinkedIn</p>
      <a class="text-style link-item" href="https://www.linkedin.com/in/romezvz/" target="_blank">{{
        user
      }}</a>
    </article>

    <article class="contact-container">
      <p class="text-style">GitHub</p>
      <a class="text-style link-item" href="https://github.com/romezvz" target="_blank">{{
        user
      }}</a>
    </article>

    <article class="contact-container">
      <p class="text-style">Gumroad</p>
      <a class="text-style link-item" href="https://romezvz.gumroad.com/" target="_blank">{{
        user
      }}</a>
    </article>

    <article class="contact-container">
      <p class="text-style">Instagram</p>
      <a class="text-style link-item" href="https://www.instagram.com/romezvz/" target="_blank">{{
        user
      }}</a>
    </article>

    <article class="contact-container">
      <p class="text-style">Strava</p>
      <a
        class="text-style link-item"
        href="https://www.strava.com/athletes/165467449"
        target="_blank"
        >{{ user }}</a
      >
    </article>
  </div>
</section>
