<section class="py-8">
  <div class="flex justify-between items-center py-4">
    <h2 class="title-style text-4xl flex items-center">
      <i class="pi pi-address-book mr-3" style="font-size: 2rem"></i
      >{{ 'CONTACT.TITLE' | translate }}
    </h2>
  </div>
  <p class="text-style text-base my-4">
    {{ 'HEADER.DESCRIPTION_CONTACT' | translate }}
  </p>

  <div class="contacts-container">
    @for (contact of contacts; track $index) {
      <a class="contact-container" href="{{ contact.url }}" target="_blank">
        <p class="text-style text-sm flex items-center">
          <i class="pi {{ contact.icon }} mr-3"></i>{{ contact.title }}
        </p>
        <p class="text-style link-item hover:underline">{{ contact.user }}</p>
      </a>
    }
  </div>
</section>
