header {
  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1rem;

    .header-links {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      a {
        position: relative;
        text-decoration: none;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0%;
          height: 1px;
          background-color: #000000;
          transition: width 0.25s ease;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .header-photo {
      width: 7rem;
      height: 7rem;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}

.header-title {
  font-family: 'Outfit', sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1.2em;
  margin-bottom: 2rem;
  cursor: pointer;
}

.header-description {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.75em;

  .header-text {
    margin-bottom: 2rem;
  }

  .header-contact {
    position: relative;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 1px;
      background-color: #000000;
      transition: width 0.25s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
