.templates-container {
  display: grid;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .template-container {
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    height: min-content;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    text-decoration: none;
    width: 100%;
    opacity: 1;
    transform: none;

    .template-photo {
      width: 100%;
      height: 12rem;
      border-radius: 1rem;
      border: 1px solid;
      cursor: pointer;
    }
  }
}
