<section class="templates-section">
  <div class="section-header">
    <h2 class="section-title">{{ 'TEMPLATES.TITLE' | translate }}</h2>
    <a [routerLink]="'articles'" class="section-sub-title">{{ 'COMMON.SEE_ALL' | translate }}</a>
  </div>

  <div class="templates-container">
    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">{{ 'TEMPLATES.TEMPLATE_1_TITLE' | translate }}</h3>
        <p class="template-sub-title">{{ 'TEMPLATES.TEMPLATE_1_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>

    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">{{ 'TEMPLATES.TEMPLATE_2_TITLE' | translate }}</h3>
        <p class="template-sub-title">{{ 'TEMPLATES.TEMPLATE_2_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>

    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">{{ 'TEMPLATES.TEMPLATE_3_TITLE' | translate }}</h3>
        <p class="template-sub-title">{{ 'TEMPLATES.TEMPLATE_3_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>

    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">{{ 'TEMPLATES.TEMPLATE_4_TITLE' | translate }}</h3>
        <p class="template-sub-title">{{ 'TEMPLATES.TEMPLATE_4_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>
  </div>
</section>
