.projects-container {
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  height: min-content;
  justify-content: flex-start;
  padding: 1rem 0;
  position: relative;
  width: 100%;

  .project-container {
    border-radius: 1rem;
    cursor: pointer;
    display: grid;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem 0;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .project-photo {
      width: 100%;
      height: 12rem;
      border-radius: 1rem;
      border: 1px solid;
      cursor: pointer;
    }
  }
}
