.footer-container {
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    a {
      position: relative;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: #000000;
        transition: width 0.25s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &.active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
