@use 'fonts';
@import 'primeicons/primeicons.css';

html {
  font-size: 0.875rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

body {
  max-width: 800px;
  margin: 0 auto !important;
  padding: 2rem;
}
