@use 'fonts';
@use 'variables';
@import 'primeicons/primeicons.css';

html {
  color: #252525;
  background-color: #fafaf8;
  font-size: 0.875rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

body {
  margin: 0 auto !important;
  max-width: 600px;
  padding: 2rem;
}

.title-style {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1.2em;
  white-space: pre-line;
}

.text-style {
  font-family: 'Roboto Mono', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.75em;
  color: #333333;
}

.link-item {
  position: relative;
  text-decoration: none;
  width: fit-content;
  min-width: fit-content;
  cursor: pointer;
  font-family: 'Roboto Mono', sans-serif;
  color: #4b4b4b;

  &.active {
    text-decoration: underline;
  }
}
