<section class="projects-section">
  <div class="section-header">
    <h2 class="section-title">{{ 'PROJECTS.TITLE' | translate }}</h2>
    <a [routerLink]="'articles'" class="section-sub-title">{{ 'COMMON.SEE_ALL' | translate }}</a>
  </div>

  <div class="projects-container">
    <article class="project-container">
      <div class="project-info">
        <div class="project-title-section">
          <h3 class="project-title">{{ 'PROJECTS.PROJECT_1_TITLE' | translate }}</h3>
        </div>
        <p class="project-description">
          {{ 'PROJECTS.PROJECT_1_DESCRIPTION' | translate }}
        </p>
        <a class="project-link">{{ 'PROJECTS.VIEW' | translate }} </a>
      </div>
      <div class="project-photo"></div>
    </article>

    <article class="project-container">
      <div class="project-info">
        <div class="project-title-section">
          <h3 class="project-title">{{ 'PROJECTS.PROJECT_2_TITLE' | translate }}</h3>
        </div>
        <p class="project-description">
          {{ 'PROJECTS.PROJECT_2_DESCRIPTION' | translate }}
        </p>
        <a class="project-link">{{ 'PROJECTS.VIEW' | translate }} </a>
      </div>
      <div class="project-photo"></div>
    </article>

    <article class="project-container">
      <div class="project-info">
        <div class="project-title-section">
          <h3 class="project-title">{{ 'PROJECTS.PROJECT_3_TITLE' | translate }}</h3>
        </div>
        <p class="project-description">
          {{ 'PROJECTS.PROJECT_3_DESCRIPTION' | translate }}
        </p>
        <a class="project-link">{{ 'PROJECTS.VIEW' | translate }} </a>
      </div>
      <div class="project-photo"></div>
    </article>
  </div>
</section>
