<section class="py-8">
  <div class="flex justify-between items-center py-4">
    <h2 class="title-style text-4xl">{{ 'PROJECTS.TITLE' | translate }}</h2>
    <a [routerLink]="'articles'" class="text-style link-item">{{ 'COMMON.SEE_ALL' | translate }}</a>
  </div>

  <div class="projects-container">
    <article class="project-container">
      <div class="grid gap-4">
        <div class="flex justify-between">
          <h3 class="title-style text-2xl">{{ 'PROJECTS.PROJECT_1_TITLE' | translate }}</h3>
        </div>
        <p class="text-style">
          {{ 'PROJECTS.PROJECT_1_DESCRIPTION' | translate }}
        </p>
        <a class="text-style link-item active text-sm">{{ 'PROJECTS.VIEW' | translate }} </a>
      </div>
      <div class="project-photo"></div>
    </article>

    <article class="project-container">
      <div class="grid gap-4">
        <div class="flex justify-between">
          <h3 class="title-style text-2xl">{{ 'PROJECTS.PROJECT_2_TITLE' | translate }}</h3>
        </div>
        <p class="text-style">
          {{ 'PROJECTS.PROJECT_2_DESCRIPTION' | translate }}
        </p>
        <a class="text-style link-item active text-sm">{{ 'PROJECTS.VIEW' | translate }} </a>
      </div>
      <div class="project-photo"></div>
    </article>

    <article class="project-container">
      <div class="grid gap-4">
        <div class="flex justify-between">
          <h3 class="title-style text-2xl">{{ 'PROJECTS.PROJECT_3_TITLE' | translate }}</h3>
        </div>
        <p class="text-style">
          {{ 'PROJECTS.PROJECT_3_DESCRIPTION' | translate }}
        </p>
        <a class="text-style link-item active text-sm">{{ 'PROJECTS.VIEW' | translate }} </a>
      </div>
      <div class="project-photo"></div>
    </article>
  </div>
</section>
