<section class="projects-section">
  <div class="section-header">
    <h2 class="section-title">Projects</h2>
    <p class="section-sub-title">See all</p>
  </div>

  <div class="projects-container">
    <article class="project-container">
      <div class="project-info">
        <div class="project-title-section">
          <h3 class="project-title">Running App</h3>
        </div>
        <p class="project-description">
          A clean and fast running tracker to log distance, pace, and time — built for simplicity
          and focus.
        </p>
        <a class="project-link">View project →</a>
      </div>
      <div class="project-photo"></div>
    </article>

    <article class="project-container">
      <div class="project-info">
        <div class="project-title-section">
          <h3 class="project-title">Weather App</h3>
        </div>
        <p class="project-description">
          A minimalist weather app showing real-time forecasts and clear visuals for any location.
        </p>
        <a class="project-link">View project →</a>
      </div>
      <div class="project-photo"></div>
    </article>

    <article class="project-container">
      <div class="project-info">
        <div class="project-title-section">
          <h3 class="project-title">To-do App</h3>
        </div>
        <p class="project-description">
          A simple and effective task manager to organize daily goals and stay productive.
        </p>
        <a class="project-link">View project →</a>
      </div>
      <div class="project-photo"></div>
    </article>
  </div>
</section>
