.projects-section {
  padding: 1rem 0;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.875rem;

    .section-title {
      font-family: 'Outfit', sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 1.4em;
    }

    .section-sub-title {
      font-family: 'Roboto Mono', sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 1.75em;
      position: relative;
      text-decoration: none;
      width: fit-content;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: #000000;
        transition: width 0.25s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .projects-container {
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    height: min-content;
    justify-content: flex-start;
    padding: 1rem 0;
    position: relative;
    width: 100%;

    .project-container {
      border-radius: 1rem;
      cursor: pointer;
      display: grid;
      align-items: center;
      gap: 2rem;
      width: 100%;
      padding: 1rem 0;
      grid-template-columns: 1fr;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      .project-info {
        display: grid;
        gap: 1rem;

        .project-title-section {
          display: flex;
          justify-content: space-between;

          .project-title {
            font-family: 'Outfit', sans-serif;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -0.5px;
            line-height: 1.4em;
          }

          .project-sub-title {
            font-family: 'Roboto Mono', sans-serif;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 1.75em;
          }
        }

        .project-description {
          font-family: 'Roboto Mono', sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0px;
          line-height: 1.75em;
        }

        .project-link {
          font-family: 'Roboto Mono', sans-serif;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0px;
          line-height: 1.75em;
          position: relative;
          text-decoration: none;
          width: fit-content;
          cursor: pointer;
          font-size: 0.875rem;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #000000;
            transition: width 0.25s ease;
          }
        }
      }

      .project-photo {
        width: 100%;
        height: 12rem;
        border-radius: 1rem;
        border: 1px solid;
        cursor: pointer;
      }
    }
  }
}
