<section class="templates-section">
  <div class="section-header">
    <h2 class="section-title">Templates</h2>
    <a [routerLink]="'templates'" class="section-sub-title">See all</a>
  </div>

  <div class="templates-container">
    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">Notes Dashboard</h3>
        <p class="template-sub-title">The ultimate note-taking experience.</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">View template </a>
    </article>

    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">Finance Tracker</h3>
        <p class="template-sub-title">Keep track of all your finances.</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">View template </a>
    </article>

    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">Travel Planner</h3>
        <p class="template-sub-title">Plan your next travel itinerary.</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">View template </a>
    </article>

    <article class="template-container">
      <div class="template-title-section">
        <h3 class="template-title">Workout Tracker</h3>
        <p class="template-sub-title">A basic workout tracking tool.</p>
      </div>
      <div class="template-photo"></div>
      <a class="template-link">View template </a>
    </article>
  </div>
</section>
