.templates-section {
  padding: 1rem 0;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.875rem;

    .section-title {
      font-family: 'Outfit', sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 1.4em;
    }

    .section-sub-title {
      font-family: 'Roboto Mono', sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 1.75em;
      position: relative;
      text-decoration: none;
      width: fit-content;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: #000000;
        transition: width 0.25s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .templates-container {
    display: grid;
    gap: 2rem;
    width: 100%;
    padding: 1rem 0;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .template-container {
      border-radius: 1rem;
      cursor: pointer;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 1rem;
      height: min-content;
      justify-content: center;
      padding: 1rem 0;
      position: relative;
      text-decoration: none;
      width: 100%;
      opacity: 1;
      transform: none;

      .template-title-section {
        display: grid;

        .template-title {
          font-family: 'Outfit', sans-serif;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          letter-spacing: -0.5px;
          line-height: 1.4em;
        }

        .template-sub-title {
          font-family: 'Roboto Mono', sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0px;
          line-height: 1.75em;
        }
      }

      .template-photo {
        width: 100%;
        height: 12rem;
        border-radius: 1rem;
        border: 1px solid;
        cursor: pointer;
      }

      .template-link {
        font-family: 'Roboto Mono', sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 1.75em;
        position: relative;
        text-decoration: none;
        width: fit-content;
        cursor: pointer;
        font-size: 0.875rem;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #000000;
          transition: width 0.25s ease;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
