<section class="py-8">
  <div class="flex justify-between items-center py-4">
    <h2 class="title-style text-4xl">{{ 'TEMPLATES.TITLE' | translate }}</h2>
    <a [routerLink]="'templates'" class="text-style link-item">{{
      'COMMON.SEE_ALL' | translate
    }}</a>
  </div>

  <div class="templates-container">
    <article class="template-container">
      <div class="grid">
        <h3 class="title-style text-2xl">{{ 'TEMPLATES.TEMPLATE_1_TITLE' | translate }}</h3>
        <p class="text-style">{{ 'TEMPLATES.TEMPLATE_1_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="text-style link-item active text-sm">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>

    <article class="template-container">
      <div class="grid">
        <h3 class="title-style text-2xl">{{ 'TEMPLATES.TEMPLATE_2_TITLE' | translate }}</h3>
        <p class="text-style">{{ 'TEMPLATES.TEMPLATE_2_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="text-style link-item active text-sm">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>

    <article class="template-container">
      <div class="grid">
        <h3 class="title-style text-2xl">{{ 'TEMPLATES.TEMPLATE_3_TITLE' | translate }}</h3>
        <p class="text-style">{{ 'TEMPLATES.TEMPLATE_3_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="text-style link-item active text-sm">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>

    <article class="template-container">
      <div class="grid">
        <h3 class="title-style text-2xl">{{ 'TEMPLATES.TEMPLATE_4_TITLE' | translate }}</h3>
        <p class="text-style">{{ 'TEMPLATES.TEMPLATE_4_DESCRIPTION' | translate }}</p>
      </div>
      <div class="template-photo"></div>
      <a class="text-style link-item active text-sm">{{ 'TEMPLATES.VIEW' | translate }} </a>
    </article>
  </div>
</section>
