.articles-section {
  padding: 1rem 0;
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.875rem;

    .section-title {
      font-family: 'Outfit', sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 1.4em;
    }

    .section-sub-title {
      font-family: 'Roboto Mono', sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 1.75em;
      position: relative;
      text-decoration: none;
      width: fit-content;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: #000000;
        transition: width 0.25s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .articles-container {
    padding: 1rem 0;
    .article-container {
      border-top: 1px solid;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      height: min-content;
      justify-content: space-between;
      padding: 1rem 0;
      position: relative;

      .article-title {
        font-family: 'Roboto Mono', sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 1.75em;
        margin-right: 1rem;
      }
      .article-sub-title {
        font-family: 'Roboto Mono', sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 1.75em;
        position: relative;
        text-decoration: none;
        min-width: fit-content;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0%;
          height: 1px;
          background-color: #000000;
          transition: width 0.25s ease;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
