.article-container {
  border-top: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
