<section class="articles-section">
  <div class="section-header">
    <h2 class="section-title">{{ 'ARTICLES.TITLE' | translate }}</h2>
    <a [routerLink]="'articles'" class="section-sub-title">{{ 'COMMON.SEE_ALL' | translate }}</a>
  </div>

  <div class="articles-container">
    <article class="article-container">
      <h3 class="article-title">{{ 'ARTICLES.ARTICLE_1_TITLE' | translate }}</h3>
      <p class="article-sub-title">{{ 'ARTICLES.VIEW' | translate }} →</p>
    </article>

    <article class="article-container">
      <h3 class="article-title">{{ 'ARTICLES.ARTICLE_2_TITLE' | translate }}</h3>
      <p class="article-sub-title">{{ 'ARTICLES.VIEW' | translate }} →</p>
    </article>

    <article class="article-container">
      <h3 class="article-title">{{ 'ARTICLES.ARTICLE_3_TITLE' | translate }}</h3>
      <p class="article-sub-title">{{ 'ARTICLES.VIEW' | translate }} →</p>
    </article>
  </div>
</section>
